allow system_app apex_service:service_manager find;
allow system_app proc_pagetypeinfo:file { getattr open read };
allow system_app sysfs_zram:dir search;
allow system_app sysfs_zram:file { getattr open read };
allow system_app time_data_file:dir { write search };
allow system_app time_data_file:file { write open getattr };
allow system_app wificond:binder call;

binder_call(system_app, hal_power_default)

r_dir_file(system_app, sysfs_rtc)
r_dir_file(system_app, sysfs_timekeep)

set_prop(system_app, timekeep_prop)

dontaudit system_app {
  apex_service
  system_suspend_control_service
}:service_manager find;
